services:
  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      # Mount file SQL từ máy host vào thư mục init của container
      - ./data.sql:/docker-entrypoint-initdb.d/data.sql
      # (Tùy chọn) Lưu trữ dữ liệu để không bị mất khi xóa container
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: